{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="section">
  <div class="row">

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% trans "Registration" %}</h5>
              <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in
              </a>.{% endblocktrans %}</p>

              <!-- Floating Labels Form -->
              <form class="row g-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
                </div>
              </form><!-- End floating Labels Form -->

            </div>
          </div>
        </div>


  </div>
</section>

{% endblock %}
