{% extends 'account/base.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block auth_login %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
            </div>
            <form class="row g-3 needs-validation" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {% include 'form_error.html' %}
                <div class="col-12">
                    <label for="id_login" class="form-label">Email</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="email" name="login" class="form-control" autocomplete="email" required id="id_login">
                        <div class="invalid-feedback">Please enter your email.</div>
                    </div>
                </div>
                <div class="col-12">
                    <label for="id_password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" autocomplete="current-password" required id="id_password">
                    <div class="invalid-feedback">Please enter your password!</div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" id="id_remember">
                        <label for="id_remember" class="form-check-label small mb-0">Remember Me</label>
                        <span class="small mb-0"><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></span>
                    </div>
                </div>
                <div class="col-12">
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">{% trans "Sign In" %} &raquo;</button>
                </div>
                <div class="col-12">
                    <p class="small mb-0">No account? <a href="{{signup_url}}">Create an account &raquo;</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}