{% extends "account/base.html" %}

{% load i18n %}
{% load account %}


{% block password_reset %}

<div class="card mb-3">
    <div class="card-body">
        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">{% trans "Password Reset" %}</h5>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="text-center small">
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>
        </div>

        <form class="row g-3 needs-validation" method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {% include 'form_error.html' %}
            <div class="col-12">
                <label for="id_email" class="form-label">E-mail:</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="email" name="email" class="form-control" autocomplete="email" required id="id_email">
                    <div class="invalid-feedback">Please enter your email.</div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit" value="{% trans 'Reset My Password' %}">
                    {% trans "Reset My Password" %} &raquo;</button>
            </div>
            <div class="col-12">
                <p class="small mb-0">No account? <a href="/accounts/signup">Create an account &raquo;</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}
