{% extends 'account/base.html' %}
{% load i18n %}

{% block auth_login %}
<div class="card mb-3">
    <div class="card-body">
        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Your Full Moniker</h5>
            <p class="text-center small">Enter your full name below</p>
        </div>
        <form class="row g-3 needs-validation" method="POST" action="">
            {% csrf_token %}
            {% include 'form_error.html' %}
            <div class="col-12">
                <label for="id_name" class="form-label">Full Name:</label>
                <input type="text" name="name" class="form-control" maxlength="128" required id="id_name">
                <div class="invalid-feedback">Please enter your full name.</div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">{% trans "Submit" %} &raquo;</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}