{% extends 'base.html' %}

{% block content %}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Author</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for publication in publications %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{publication.author.name|title}}</td>
                                <td><a href="{{publication.get_absolute_url}}" target="_blank"><u>{{publication.title|title}}</u></a></td>
                                <td>{{publication.description}}</td>
                                {% if publication.author == user %}
                                <td><a href="{% url 'publication:delete' publication.id %}" data-bs-toggle="modal" data-bs-target="#basicModal"><u>delete</u></a></td>
                                {% else %}
                                <td>NA</td>
                                {% endif %}

                            </tr>
                            <div class="modal fade" id="basicModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Field Record</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to remove this publication from record?
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{% url 'publication:delete' publication.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                <button type="submit" class="btn btn-primary" value="Delete">Yes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'pagination.html' %}
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
