{% extends 'base.html' %}

{% block content %}


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for publication in publications %}
                            {% if publication.title %}
                                <tr>
                                    <th scope="row">1</th>
                                    <td><a href="{{ publication.get_absolute_url }}">
                                        {{publication.title|title}}
                                    </a></td>
                                    <td>{{ publication.description }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
