{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block add_field %}
<div class="card mb-3">

    <div class="card-body">

        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Populate Your Dashboard</h5>
            <p class="text-center small">Enter detail for what you'd like to track below</p>
        </div>

        <form class="row g-3 needs-validation" method="post">
            {% csrf_token %}
            <div class="col-12">
                {{form|crispy}}
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Track &raquo;</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}