<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>track</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href='{% static "img/favicon.png" %}' rel="icon">
    <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href='{% static "css/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
    <link href='{% static "css/remixicon/remixicon.css" %}' rel="stylesheet">
    <link href='{% static "css/boxicons/css/boxicons.min.css" %}' rel="stylesheet">
    <link href='{% static "css/quill/quill.snow.css" %}' rel="stylesheet">
    <link href='{% static "css/quill/quill.bubble.css" %}' rel="stylesheet">
    <link href='{% static "css/simple-datatables/style.css" %}' rel="stylesheet">
    <link href='{% static "css/style.css" %}' rel="stylesheet">
</head>
<body>
<main>
    <div class="container">
        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1>4-0-nada!</h1>
            <h2>Please add new item to your dashboard.</h2>
            <a class="btn" href="{% url 'field:create' %}">+Add Field</a>
            <img src="{% static 'img/not-found.svg' %}" class="img-fluid py-5" alt="">
        </section>
    </div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script src='{% static "css/bootstrap/js/bootstrap.bundle.js" %}'></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src='{% static "php-email-form/validate.js" %}'></script>
<script src='{% static "css/quill/quill.min.js" %}'></script>
<script src='{% static "tinymce/tinymce.min.js" %}'></script>
<script src='{% static "css/simple-datatables/simple-datatables.js" %}'></script>
<script src='{% static "chart.js/chart.min.js" %}'></script>
<script src='{% static "apexcharts/apexcharts.min.js" %}'></script>
<script src='{% static "echarts/echarts.min.js" %}'></script>
<script src='{% static "js/main.js" %}'></script>
</body>
</html>