{% extends 'base.html' %}
{% load static crispy_forms_tags dashboard_template_filters %}
{% block content %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            {% for dashboard in dashboards %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="accordion-header-{{dashboard.pk}}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                aria-expanded="false" data-bs-target="#collapse-{{dashboard.pk}}">
                                            {{dashboard.field.field|title}} | {{dashboard.field.aoc|lower}}
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
                                    id="collapse-{{dashboard.pk}}">
                                        <div class="accordion-body">
                                            <div class="accordion" id="sub-accordion-{{dashboard.pk}}">
                                                {% for item in guide_attributes %}
                                                    <div class="accordion-item" id="accordion-item-{{dashboard.pk}}-{{item|lower|replace_word}}">
                                                        <h2 class="accordion-header" id="accordion-header-{{dashboard.pk}}-{{item|lower|replace_word}}">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                                    aria-expanded="false" data-bs-target="#collapse-{{item|lower|replace_word}}">
                                                                {{item}}
                                                            </button>
                                                        </h2>
                                                        <div class="accordion-collapse collapse" data-bs-parent="#sub-accordion-{{dashboard.pk}}"
                                                        id="collapse-{{item|lower|replace_word}}">
                                                            <div class="accordion-body">
                                                                <div class="accordion" id="content-accordion-{{dashboard.pk}}">
                                                                    {% for level in level_attributes %}
                                                                    <div class="accordion-item" id="accordion-item-{{dashboard.pk}}-{{level|lower|replace_word}}">
                                                                        <h2 class="accordion-header" id="accordion-header-{{dashboard.pk}}-{{level|lower|replace_word}}">
                                                                            <button class="accordion-button collapsed" type="button" data-bs-target="#collapse-{{level|lower|replace_word}}"
                                                                            data-bs-toggle="collapse" aria-expanded="false">{{level|lower}}</button>
                                                                        </h2>
                                                                        <div class="accordion-collapse collapse" data-bs-parent="#content-accordion-{{dashboard.pk}}"
                                                                        id="collapse-{{level|lower|replace_word}}">
                                                                            <div class="accordion-body">
                                                                                <!-- List group with Advanced Contents -->
                                                                                <div class="list-group">

                                                                                    {% if item == 'Articles' and level == 'basic level' %}
                                                                                    {% for sa in dashboard.field.guide.article.basic.all %}
                                                                                    <a href="{{sa.link}}" target="_blank" class="list-group-item list-group-item-action">
                                                                                        <div class="d-flex w-100 justify-content-between">
                                                                                            <h5 class="mb-1"></h5>
                                                                                            <small class="text-muted">{{dashboard.updated_at|timesince}} ago</small>
                                                                                        </div>
                                                                                        <p class="mb-1">{{sa.title|title}}</p>
                                                                                        <small>{{sa.description|lower}}</small>
                                                                                    </a>
                                                                                    {% endfor %}

                                                                                    {% elif item == 'PDFs' and level == 'basic level' %}
                                                                                    {% for sp in dashboard.field.guide.pdf.basic.all %}
                                                                                    <a href="{{sp.link}}" target="_blank" class="list-group-item list-group-item-action">
                                                                                        <div class="d-flex w-100 justify-content-between">
                                                                                            <h5 class="mb-1"></h5>
                                                                                            <small class="text-muted">{{dashboard.updated_at|timesince}} ago</small>
                                                                                        </div>
                                                                                        <p class="mb-1">{{sp.title|title}}</p>
                                                                                        <small>{{sp.description|lower}}</small>
                                                                                    </a>
                                                                                    {% endfor %}

                                                                                    {% elif item == 'Online Classes' and level == 'basic level' %}
                                                                                    {% for soc in dashboard.field.guide.klass.basic.all %}
                                                                                    <a href="{{soc.link}}" target="_blank" class="list-group-item list-group-item-action">
                                                                                        <div class="d-flex w-100 justify-content-between">
                                                                                            <h5 class="mb-1"></h5>
                                                                                            <small class="text-muted">{{dashboard.updated_at|timesince}} ago</small>
                                                                                        </div>
                                                                                        <p class="mb-1">{{soc.title|title}}</p>
                                                                                        <small>{{soc.description|lower}}</small>
                                                                                    </a>
                                                                                    {% endfor %}

                                                                                    {% elif item == 'Videos' and level == 'basic level' %}
                                                                                    {% for sv in dashboard.field.guide.video.basic.all %}
                                                                                    <a href="{{sv.link}}" target="_blank" class="list-group-item list-group-item-action">
                                                                                        <div class="d-flex w-100 justify-content-between">
                                                                                            <h5 class="mb-1"></h5>
                                                                                            <small class="text-muted">{{dashboard.updated_at|timesince}} ago</small>
                                                                                        </div>
                                                                                        <p class="mb-1">{{sv.title|title}}</p>
                                                                                        <small>{{sv.description|lower}}</small>
                                                                                    </a>
                                                                                    {% endfor %}

                                                                                    {% elif item == 'Questions' and level == 'basic level' %}
                                                                                    {% for sq in dashboard.field.guide.question.basic.all %}
                                                                                    <a href="{{sq.link}}" target="_blank" class="list-group-item list-group-item-action">
                                                                                        <div class="d-flex w-100 justify-content-between">
                                                                                            <h5 class="mb-1"></h5>
                                                                                            <small class="text-muted">{{dashboard.updated_at|timesince}} ago</small>
                                                                                        </div>
                                                                                        <p class="mb-1">{{sq.title|title}}</p>
                                                                                        <small>{{sq.description|lower}}</small>
                                                                                    </a>
                                                                                    {% endfor %}

                                                                                    {% elif item == 'Articles' and level == 'advanced level' %}
                                                                                    {% for aa in dashboard.field.guide.article.advanced.all %}
                                                                                    <a href="{{aa.link}}" target="_blank" class="list-group-item list-group-item-action">
                                                                                        <div class="d-flex w-100 justify-content-between">
                                                                                            <h5 class="mb-1"></h5>
                                                                                            <small class="text-muted">{{dashboard.updated_at|timesince}} ago</small>
                                                                                        </div>
                                                                                        <p class="mb-1">{{aa.title|title}}</p>
                                                                                        <small class="text-muted">{{aa.description|lower}}</small>
                                                                                    </a>
                                                                                    {% endfor %}

                                                                                    {% elif item == 'PDFs' and level == 'advanced level' %}
                                                                                    {% for ap in dashboard.field.guide.pdf.advanced.all %}
                                                                                    <a href="{{ap.link}}" target="_blank" class="list-group-item list-group-item-action">
                                                                                        <div class="d-flex w-100 justify-content-between">
                                                                                            <h5 class="mb-1"></h5>
                                                                                            <small class="text-muted">{{dashboard.updated_at|timesince}} ago</small>
                                                                                        </div>
                                                                                        <p class="mb-1">{{ap.title|title}}</p>
                                                                                        <small class="text-muted">{{ap.description|lower}}</small>
                                                                                    </a>
                                                                                    {% endfor %}

                                                                                    {% elif item == 'Online Classes' and level == 'advanced level' %}
                                                                                    {% for aoc in dashboard.field.guide.klass.advanced.all %}
                                                                                    <a href="{{aoc.link}}" target="_blank" class="list-group-item list-group-item-action">
                                                                                        <div class="d-flex w-100 justify-content-between">
                                                                                            <h5 class="mb-1"></h5>
                                                                                            <small class="text-muted">{{dashboard.updated_at|timesince}} ago</small>
                                                                                        </div>
                                                                                        <p class="mb-1">{{aoc.title|title}}</p>
                                                                                        <small class="text-muted">{{aoc.description|lower}}</small>
                                                                                    </a>
                                                                                    {% endfor %}

                                                                                    {% elif item == 'Videos' and level == 'advanced level' %}
                                                                                    {% for av in dashboard.field.guide.video.advanced.all %}
                                                                                    <a href="{{av.link}}" target="_blank" class="list-group-item list-group-item-action">
                                                                                        <div class="d-flex w-100 justify-content-between">
                                                                                            <h5 class="mb-1"></h5>
                                                                                            <small class="text-muted">{{dashboard.updated_at|timesince}} ago</small>
                                                                                        </div>
                                                                                        <p class="mb-1">{{av.title|title}}</p>
                                                                                        <small class="text-muted">{{av.description|lower}}</small>
                                                                                    </a>
                                                                                    {% endfor %}

                                                                                    {% elif item == 'Questions' and level == 'advanced level' %}
                                                                                    {% for aq in dashboard.field.guide.question.advanced.all %}
                                                                                    <a href="{{aq.link}}" target="_blank" class="list-group-item list-group-item-action">
                                                                                        <div class="d-flex w-100 justify-content-between">
                                                                                            <h5 class="mb-1"></h5>
                                                                                            <small class="text-muted">{{dashboard.updated_at|timesince}} ago</small>
                                                                                        </div>
                                                                                        <p class="mb-1">{{aq.title|title}}</p>
                                                                                        <small class="text-muted">{{aq.description|lower}}</small>
                                                                                    </a>
                                                                                    {% endfor %}

                                                                                    {% endif %}
                                                                                </div><!-- End List group Advanced Content -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
